<h1>Recipes for the Bru</h1>
<h2> Here is a list of all of your recipes!</h2>

<%= link_to "New Recipe", new_recipe_path %> <br><br>

<table>
  <tr>
    <th>What would you like to cook today?</th>
  </tr>
 
  <% @recipes.each do |recipe| %>
    <tr>
     <td><br><%= link_to "#{recipe.name}", recipe_path(recipe) %><br><br></td>
     </td>
    </tr>
  <% end %>
</table>


